[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "<2.0.0,>=1.11.15"
gunicorn = "~=20.0"
pymongo = "~=3.10"
python-dotenv = "~=0.12"
pytz = "~=2019"
redis = "~=3.4"
requests = "~=2.23"
urllib3 = "~=1.25"

[requires]
python_version = "3.7"
